/auto-save-list/
/elpa/
/*~
/ac-comphist.dat
/session.*
/geben/.storage
/url
emojis/*
/custom.el
/tutorial/English.tut
/.sx/auth.el
/mastodon.plstore
/.litable-lists.el
/.mc-lists.el
/.sx/*
/bookmarks
/games/*
/history
/ido.last
*.sync-conflict-*
*image-dired/*
/ivy-youtube-history
/projectile-bookmarks.eld
/projectile.cache
/quelpa/
/recentf
/request/
/transient/history.el
